@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow: hidden;
  position: relative;
  background: rgb(242, 246, 255);
}
a{
  text-decoration: none !important;
}

.bg_dashboard{
  border-radius: 1rem;
  border-bottom: 0.15rem solid #f2f6ff;
  /* background: rgba(116, 0, 248, 0.1); */
  background: rgba(50, 61, 109, 0.5);
  backdrop-filter: blur(0.5rem);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 0.5px inset;
}
